div(class="about-container")
	div(class="heading")
		h3 ABOUT
	div(class="text")
		p Hi there, welcome to a self-indulging website all about me!

		p One example of this is the advantage that Japan and Germany have on manufacturing cars. This can be attributed to the second world war when they were two big players in producing tanks. They have been doing this for a long time and are really good at it.
	div(class="tiles")
		div(id="skills" class="tile")
			h4 Skills
		div(id="education" class="tile")
			h4 Education
			div(class="tile-content" data-size="small")
			div(class="tile-content hidden" data-size="large")
			//- img(src="img/logo_unsw.png")
		div(id="jobs" class="tile")
			h4 Jobs
		div(id="passions" class="tile")
			h4 Passions
	//- div(class="face")
	//- 	img(src="img/me.jpg")
