div(class="projects-container")
    div(class="heading")
        h3 PROJECTS
    div(class="projects")
        div(class="project")
            div(class="tile")
            h4 Skills
        div(class="project")
            h4 Skills
        div(class="project")
            h4 Skills
        div(class="project")
            h4 Skills
