//- This is the container for the module
div(class="model-featherstorm")
	//- This is the header
	div(class="f-header")
		div(class="f-text") 
			span Feather
			span(class="f-storm") Storm
	//- This is the container for the body
	div(class="f-body")
		div(class="f-graph")
		div(class="f-table")
		div(class="f-portfolio")
	//- The buttons that overlay
	div(class="f-button-container")
		div(class="f-button")
		div(class="f-button")
		div(class="f-button")