//- This is the container for the module
div(class="model-phoenix")
	//- This is the header
	div(class="p-header")
		div(class="p-text") Phoenix
	//- This is the container for the masonry elements
	div(class="p-masonry")
		div(class="p-element size-med")
		div(class="p-element")
		div(class="p-element size-med")
		div(class="p-element")
		div(class="p-element")
		div(class="p-element size-med")
		div(class="p-element")
		div(class="p-element")
		div(class="p-element")
		div(class="p-element")
		div(class="p-element")
		div(class="p-element")
		div(class="p-element")
		div(class="p-element")
		div(class="p-element")
		div(class="p-element")
		div(class="p-element")
		div(class="p-element")
		div(class="p-element")
		div(class="p-element")
		div(class="p-element")