doctype
html
	head
		title khanh nguyen.

		//- Fonts
		link(href="http://fonts.googleapis.com/css?family=Raleway:300" rel="stylesheet" type="text/css")

		//- Stylesheets
		link(rel="stylesheet" href="styles/importer.css")
		link(rel="stylesheet" href="styles/models.css")

	body
		//- Page
		!= yield

		//- Javascripts
		script(src="js/lib/jquery.min.js")
		script(src="js/lib/masonry.min.js")
		script(src="js/lib/packery.min.js")
		script(src="js/main.js")
		script(src="js/models.js")