div(class="landing")
    div(class="landing-container")
        h1 KHANH NGUYEN
        h2 PRODUCT MANAGER

div(class="projects")
    div(class="container")
        div(class="logo")
            a(href="http://apricot.khanh.com.au")
                img(src="img/logo_apricot.png")
        div(class="logo")
            a(href="http://sunshine.khanh.com.au")
                img(src="img/logo_sunshine.png")
        div(class="logo")
            a(href="http://bitter.khanh.com.au/cgi-bin/bitter.cgi")
                img(src="img/logo_bitter.png")

div(class="footer")
    div(class="container")
        div(class="icons")
            div(class="icon")
                a(href="http://github.com/Press-Play")
                    img(src="img/icon_github.svg")
            div(class="icon")
                a(href="http://linkedin.com/in/khanhh")
                    img(src="img/icon_linkedin.png")
            div(class="icon")
                a(href="http://medium.com/@press_play")
                    img(src="img/icon_medium.png")
        div(class="text")
            p Khanh Nguyen
