//- Navigation
div(class="navigation")
	div(class="navigation-container")
		div(class="nav-button nav-landing")
		div(class="nav-button nav-about")
		div(class="nav-button nav-phoenix")
		div(class="nav-button nav-featherstorm")
		div(class="nav-button nav-villavu")

div(id="0" class="landing")
	div(class="landing-container")
		include views/landing.jade

div(id="1" class="about")
	div(class="about-container")
		include views/about.jade

div(id="2" class="phoenix")
	div(class="phoenix-container")
		include views/models/_phoenix.jade

div(id="3" class="featherstorm")
	div(class="featherstorm-container")
		include views/models/_featherstorm.jade

div(id="4" class="villavu")
	div(class="villavu-container")
		5