//- Navigation
div(class="navigation")
	div(class="navigation-container")
		div(class="nav-button nav-landing")
		div(class="nav-button nav-about")
		div(class="nav-button nav-phoenix")
		div(class="nav-button nav-featherstorm")
		div(class="nav-button nav-villavu")

div(id="0" class="landing")
	div(class="landing-container")
		h1 khanh nguyen.

div(id="1" class="about")
	div(class="about-container")
		2

div(id="2" class="phoenix")
	div(class="phoenix-container")
		3

div(id="3" class="featherstorm")
	div(class="featherstorm-container")
		4

div(id="4" class="villavu")
	div(class="villavu-container")
		5


//- Navigation circles
//-div(class="nav-home")