@import 'globals.less';

//----------------------------------------------------------------------------//
// Global
//----------------------------------------------------------------------------//
body {
  .font-default();

  background : @color-white-grey;
  margin     : 0;
  padding    : 0;
}

.page-default(@height: auto) {
  width      : 100vw;
  height     : @height;
  overflow   : hidden;
  background : @color-white-grey;
}

.page-container() {
  padding : 5%;
}

//----------------------------------------------------------------------------//
// Text
//----------------------------------------------------------------------------//
h1 {
  .unselectable-text();

  font-size        : @font-size-title;
  font-weight      : @font-weight-title;
  text-align       : center;
  // border-bottom    : @color-grey-light solid 1px;
  background-color : @color-black;
  color            : @color-white;
  padding          : 20px;
  margin           : 0;
}

h2 {
  .unselectable-text();

  font-weight      : 800;
  text-align       : center;
  background-color : @color-black;
  color            : @color-white;
  padding          : 10px;
}

h3 {
  font-weight      : 200;
  text-align       : center;
  background-color : @color-black;
  color            : @color-white;
  padding          : 10px;
}

h4 {
  margin: 5px;
  text-align: center;
}

//----------------------------------------------------------------------------//
// Landing
//----------------------------------------------------------------------------//
div.landing {
  .page-default(100vh);

  background-image: url('../img/landing.jpg');
  background-size: 100%;

  div.landing-container {
    .page-container();
    .material-center(60%, 50%);

    overflow    : hidden;
    white-space : nowrap;
  }
}

//----------------------------------------------------------------------------//
// Projects
//----------------------------------------------------------------------------//
div.projects {
  .page-default();

  background : @color-white;

  div.container {
    .page-container();

    height      : 100%;
    display     : flex;
    flex-flow   : wrap;
    justify-content: center;

    div.logo{
      .animated();

      filter: grayscale(100%);
      margin: 20px;

      img {
        max-height: 100px;
      }

      &:hover {
        filter: grayscale(0%);
        cursor: pointer; 
      }
    }
  }
}

//----------------------------------------------------------------------------//
// Footer
//----------------------------------------------------------------------------//
div.footer {
  .page-default();

  background : @color-grey;

  div.container {
    .page-container();

    div.icons {
      height      : 100%;
      display     : flex;
      flex-flow   : wrap;
      justify-content: center;

      div.icon {
        .animated();

        img {
          max-height: 24px;
          margin: 5px;
        }

        &:hover {
          cursor: pointer; 
        }
      }
    }

    div.text {
      text-align: center;
    }
  }
}
